<div class="flex h-full w-full w-25rem">
  <div class="flex flex-column w-full">
    <div>
      <h1 class="text-center text-lg md:text-xl font-semibold">
        Select Layout
      </h1>
      <div class="flex flex-row gap-2 p-2 justify-content-evenly">
        <button pRipple  class="p-3 layout-button" (click)="setLayout([[0]])">
          <ng-container *ngIf="generateIcon([[0]]) as icon">
            <ng-container *ngFor="let item of icon">
              <div [innerHTML]="item" class="h-2rem w-2rem flex flex-column gap-1"></div>
            </ng-container>
          </ng-container>
        </button>
        <button pRipple class="p-3 layout-button" (click)="setLayout([[0, 0]])">
          <div class="h-2rem w-2rem flex flex-column gap-1">
            <ng-container *ngIf="generateIcon([[0, 0]]) as icon">
              <ng-container *ngFor="let item of icon">
                <div [innerHTML]="item" class="h-2rem w-2rem flex flex-column gap-1"></div>
              </ng-container>
            </ng-container>
          </div>
        </button>
        <button pRipple  class="p-3 layout-button"  (click)="setLayout([[0], [0, 0]])">
          <div class="h-2rem w-2rem flex flex-column gap-1">
            <ng-container *ngIf="generateIcon([[0], [0, 0]]) as icon">
              <ng-container *ngFor="let item of icon">
                <div [innerHTML]="item" class="h-2rem w-2rem flex flex-column gap-1"></div>
              </ng-container>
            </ng-container>
          </div>
        </button>

        <button pRipple  class="p-3 layout-button"  (click)="setLayout([
        [0, 0],
        [0, 0],
      ])">
          <div class="h-2rem w-2rem flex flex-column gap-1">
            <ng-container *ngIf="generateIcon([
            [0, 0],
            [0, 0],
          ]) as icon">
              <ng-container *ngFor="let item of icon">
                <div [innerHTML]="item" class="h-2rem w-2rem flex flex-column gap-1"></div>
              </ng-container>
            </ng-container>
          </div>
        </button>

        <button pRipple  class="p-3 layout-button"  (click)="setLayout([[0, 0], [0], [0, 0]])">
          <div class="h-2rem w-2rem flex flex-column gap-1">
            <ng-container *ngIf="generateIcon([[0, 0], [0], [0, 0]]) as icon">
              <ng-container *ngFor="let item of icon">
                <div [innerHTML]="item" class="h-2rem w-2rem flex flex-column gap-1"></div>
              </ng-container>
            </ng-container>
          </div>
        </button>
        <!-- Add other buttons similarly -->
      </div>
    </div>

    <p-divider />

    <h1 class="text-center text-lg md:text-xl font-semibold my-1">
      Custom Layout
    </h1>

    <div class="flex flex-column align-items-center  my-4  justify-content-center">
      <div class="h-2rem w-2rem flex flex-column gap-1">
        <ng-container *ngIf="generateIcon(customLayout)  as customIcon">
          <ng-container *ngFor="let item of customIcon">
            <div [innerHTML]="item" class="h-2rem w-2rem flex flex-column gap-1"></div>
          </ng-container>
        </ng-container>
      </div>
    </div>


    <div class="flex gap-5 align-items-center justify-content-between">
      <div>
        <label class="mb-2 block font-bold" for="horizontal"> Rows </label>
      </div>
      <div>
        <p-inputNumber [showButtons]="true" [(ngModel)]="numberOfRowCustomLayout" (onInput)="onRowInputChange($event)"
          buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="1" [max]="MAX_ROWS"
          decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" />
      </div>
    </div>
    <div class="w-full">
      <p-divider />

      <div class="flex flex-column gap-4 w-full pt-4">
        <ng-container *ngFor="let col of customLayout; let i = index">
          <div class="flex gap-5 align-items-center justify-content-between">
            <div>
              <label class="text-lg font-medium">Row {{ i + 1 }} Cell{{ col.length > 1 ? 's' : '' }}</label>
            </div>

            <div>
              <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" [(ngModel)]="customLayoutNumberOfCell[i]"
              (onInput)="onRowCellInputChange($event,i)"
                spinnerMode="horizontal" [step]="1" [min]="1" [max]="MAX_ROWS" decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus" />
            </div>
          </div>
        </ng-container>

        <div class="flex align-items-center justify-content-center py-4">
          <p-button label="Apply" icon="pi pi-check" (click)="handleCustomLayoutApply()" />
        </div>
      </div>
    </div>
  </div>
</div>
