<!-- <div class="card">
    <p-splitter
        [style]="{ height: '700px' }"
        [panelSizes]="[50, 50]"

        styleClass="mb-5">
    <ng-template pTemplate>
        <p-splitter layout="vertical" [panelSizes]="[50, 50]">
            <ng-template pTemplate>
                <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">
                    <div  id="container-1"
                    *ngIf="!checkContainerIsEmpty('container-1-content')">
                             <p-menu #menu [model]="getItems()"  [popup]="true"  />
                             <p-button (click)="menu.toggle($event)" icon="pi pi-plus-circle" style="color: blue"/>
                     </div>
                     <div id="container-1-content"></div>
                </div>
            </ng-template>

            <ng-template pTemplate>
                <div  style="flex-grow: 1;" class="flex align-items-center justify-content-center">
                    <div id="container-2"
                    *ngIf="!checkContainerIsEmpty('container-2-content')">
                        <p-menu #menu [model]="getItems()"  [popup]="true" />
                        <p-button (click)="menu.toggle($event)" icon="pi pi-plus-circle" style="color: blue"/>

                   </div>
                   <div id="container-2-content"></div>
                </div>

            </ng-template>
        </p-splitter>
    </ng-template>
    <ng-template pTemplate>
        <p-splitter layout="vertical" [panelSizes]="[50, 50]">
            <ng-template pTemplate>
                <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">
                    <div id="container-3"
                    *ngIf="!checkContainerIsEmpty('container-3-content')">
                        <p-menu #menu [model]="getItems()"  [popup]="true" />
                        <p-button (click)="menu.toggle($event)" icon="pi pi-plus-circle" style="color: blue"/>
                   </div>
                   <div id="container-3-content"></div>
                </div>
            </ng-template>

            <ng-template pTemplate>
                <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">
                    <div id="container-4"
                    *ngIf="!checkContainerIsEmpty('container-4-content')">
                        <p-menu #menu [model]="getItems()"  [popup]="true" />
                        <p-button (click)="menu.toggle($event)" icon="pi pi-plus-circle" style="color: blue"/>
                   </div>
                   <div id="container-4-content"></div>
                </div >

            </ng-template>
        </p-splitter>
    </ng-template>
    </p-splitter>
</div> -->
@if(showsPlitterLayout) {
  <p-splitter
  layout="vertical"
  [style]="{ height: 'calc(100vh - 9rem)' }"
  [panelSizes]="panelSizes"
  [minSizes]="[10, 0]"
  styleClass="mb-5"
>
  <ng-container *ngFor="let panelColumns of panelColumnSize;let i = index">
    <ng-template pTemplate>
      <p-splitter [panelSizes]="panelColumns">
        <ng-container *ngFor="let panelCol of panelColumns;let j = index">
          <ng-template pTemplate>
            <div style="flex-grow: 1;" class="flex align-items-center justify-content-center" *ngIf="!checkContainerIsEmpty('container-row-'+ i+'-column-'+j + '-content')">
              <div  [id]="'container-row-'+ i+'-column-'+j">
                       <p-menu #menu [model]="getItems()"  [popup]="true"  />
                       <p-button (click)="menu.toggle($event)" icon="pi pi-plus-circle"  />
              </div>
            </div>
            <div  class="w-full"  [ngStyle]="{'display': checkContainerIsEmpty('container-row-'+ i+'-column-'+j + '-content') ? 'flex' : 'none'}">
               <div class="w-full"  [id]="'container-row-'+ i+'-column-'+j + '-content'"></div>
            </div>
          </ng-template>
        </ng-container>
      </p-splitter>
    </ng-template>
  </ng-container>
</p-splitter>
}


